<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}
        {% endblock %}
    </title>
<!--CDNS-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link herf="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .nav li a{
        color:deeppink;
        }

    .navbar-brand{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(red, green, blue);
        }
</style>
</head>
<body>
    <!--navbar start-->
        <nav class="navbar navbar-big-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Events</a>
        </div>
        <ul class="nav navbar-nav mx-auto">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'booking' %}">Booking</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicone glyphicon-user"></span>Sign Up</a></li>
            <li><a href="#"><span class="glyphicone glyphicon-log-in"></span>Login</a></li>
        </ul>
    </div>
</nav>



{%block content%}
{% endblock %}

</body>
</html>